<section data-ng-controller="TutorialController">

 <a href="https://github.com/shoque/mean/blob/master/public/modules/core/directives/tutorial.client.directive.js">1.Jquery Drag Directive Github Source code </a>
 </br>
 <a href="https://github.com/shoque/mean/blob/master/public/modules/core/directives/tutorial.client.directive.js">2. Drag views Github Source code link </a>
  <style>
  #draggable { width: 150px; height: 150px; padding: 0.5em; }
  </style>

 <div data-drag id="draggable" class="ui-widget-content">
  <p>Drag me around</p>
</div>

</section>
