<section data-ng-controller="DseController">
    <style type="text/css">
    .grid {
        width: 20px;
        height: 50px;
    }
    </style>
    <input type="search" ng-model="q" placeholder="filter company" />
    <table class="table table-bordered">
        <tr ng-repeat="x in names | filter:q | orderBy:'close'">
            <td>
                <h1>company = {{x.sym}}</h1>
                <h2>price = {{x.close}}</h2>
                <span ng-if="!x.check" ng-style="{'background-color': 'red'}">
                <b>decrease </b>

            </span>

                <span ng-if="x.check" ng-style="{'background-color': 'green'}">
               <b> increase</b>
              </span>


            </td>
        </tr>
    </table>
    </ul>
</section>
