<section data-ng-controller="HomeController">

    <h1>Examples </h1>
    <div>
        <h4> 1.Angular Jquery drag and drop example </h4>
        <a id="l1" ng-href="/{{'#!/drag'}}">Drag example</a>
        <br />
        <h4> 2.Angular Timer with jquery knob example </h4>
        <a id="l2" ng-href="/{{'#!/timer'}}">Timer test</a>
        <br />
        <h4> 3.Stock info example </h4>
        <a id="l2" ng-href="/{{'#!/stockinfo'}}">Stock info</a>
               <h4> 4.Stock Grid example </h4>
        <a id="l2" ng-href="/{{'#!/gridinfo'}}">Stock Grid info</a>
        
          <h4> 4.WebRtc example </h4>
        <a id="l2" ng-href="/{{'#!/webrtc'}}">web rtc example</a>
        <h4>5.ngAnimate example </h4>
        <a id="l2" ng-href="/{{'#!/animate'}}">Ng animate example</a>
    </div>
</section>
