<section data-ng-controller="MystocksController">
    <style type="text/css">
    .grid {
        width: 20px;
        height: 50px;
    }
    </style>
    <div>
        <h1>Manage your Stocks : </h1>
        <hr/>
        <div class="col-xs-8 form-group">
            <label for="inputCompany" class="col-xs-4 control-label">Select Company Name :</label>
            <div class="col-xs-8">
                <select class="form-control" ng-model="myItem" ng-options="stock.sym for stock in stocks">
                    <option value="">Select Company</option>
                    <!--<option ng-repeat="x in stocks | orderBy:'sym'">{{x.sym}}</option> -->

                </select>
            </div>
        </div>
       
    </div>
    <table class="table table-striped" ng-show="myItem">
        <tr>
            <th>Company Name</th>
            <th>Last Price </th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Buy</th>
        </tr>
        <tr >
            <td>{{myItem.sym}}</td>
            <td ng-model="prc" >{{myItem.price}}</td>
            <td><input type="number" class="form-control" ng-model="qty" ng-model-options="{ getterSetter: true }" placeholder="Enter buy volume" /></td>
            <td >{{myItem.price*qty}}</td>
            <td><button type="button" class="btn btn-success">Buy</button></td>
        </tr>
    </table>
    </ul>
</section>
