<section data-ng-controller="MystocksController" data-ng-init="find()">
    <style type="text/css">
    .grid {
        width: 20px;
        height: 50px;
    }
    </style>
    <div class="container">
        <h1>Manage your Stocks : </h1>
        <hr/>
        <div class="col-xs-8 form-group">
            <label for="inputCompany" class="col-xs-4 control-label">Select Company Name :</label>
            <div class="col-xs-8">
                <select class="form-control" ng-model="myItem" ng-options="stock.sym for stock in stocks">
                    <option value="">Select Company</option>
                    <!--<option ng-repeat="x in stocks | orderBy:'sym'">{{x.sym}}</option> -->
                </select>
            </div>
        </div>
        <div class="col-xs-4" ng-show="!myItem && msg">
            <p class="alert alert-success">{{msg}}</p>
        </div>
    </div>
    <div class="container">
        <form data-ng-submit="buy()">
            <table class="table table-striped" ng-show="myItem">
                <tr>
                    <th>Company Name</th>
                    <th>Last Price </th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th>Buy</th>
                </tr>
                <tr>
                    <td>{{myItem.sym}}</td>
                    <td>{{myItem.price| currency:"Tk. "}}</td>
                    <td>
                        <input type="number" class="form-control" ng-model="qty" />
                    </td>
                    <td>{{myItem.price*qty| currency:"Tk. "}}</td>
                    <td>
                        <button type="submit" class="btn btn-success">Buy</button>
                    </td>
                </tr>
            </table>
            <hr/>
        </form>
    </div>
    <div class="container">
        <div>
            <h1 class="text-center">Portfolio of  <i>{{authentication.user.displayName}}</i></h1>
            <table class="table table-striped">
                <tr>
                    <th>Purchase Date</th>
                    <th>Company Name</th>
                    <th>Quantity</th>
                    <th>Unit Price </th>
                    <th>Total Buy Price</th>
                    <th>Current Price</th>
                </tr>
                <tr ng-repeat="article in articles" data-ng-show="authentication.user._id == article.user._id">
                    <td>{{article.created | date:"MM/dd/yyyy 'at' h:mm:ss a"}}</td>
                    <td>{{article.symbol}}</td>
                    <td>{{article.quantity}}</td>
                    <td>{{article.price | currency:"Tk. "}}</td>
                    <td>{{article.price*article.quantity | currency:"Tk. "}}</td>
                    <td >
                        {{article.price| currency:"Tk. "}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>
