.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.ng-invalid.ng-dirty {
  border-color: #FA787E;
}
.ng-valid.ng-dirty {
  border-color: #78FA89;
}

body {
	width: 100%;
	border: 0px;
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
  	text-rendering: optimizelegibility;
}

.header {
	font-size: 30px;
	letter-spacing: -6px;
	line-height: 40px;
	padding-left: 40px;
}

.wrapper {
	margin: 30px 0px;
	text-align: center;
}

.knob-example {
	width: 33%;
	display: inline-block;
	float: left;
}












.container{
	margin-top: 55px;
	width: 1020px;
	height: 500px;
	background-color: #2E2E2E;
	width: 100%;
	padding: 0px;
}


.table {
  margin-top:0px;
  margin-left:200px;
  height:400px;
  width:400px;
  border-color: red;
  background-color: #99CCFF
;
}

.table, table td{
	border-color: blue;
	border-width:1px;
}


.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
   border: 0.5px solid #000000;
}


td {
  height:30px;
  width:30px;
  border:1px solid;
  text-align:center;
}
td:first-child {
  border-left:solid;
}
td:nth-child(3n) {
  border-right:solid ;
}
tr:first-child {
  border-top:solid;
}
tr:nth-child(3n) td {
  border-bottom:solid ;
}

.input{
	background-color: #99CCFF;
	padding: 0px;
	border-color: blue;
	border:none;
	height:42px;
  	width:42px;
  	margin: 0px;
  	font-size: 24px;
  	text-align: center;
}


.cell{
	height:44px;
  	width:44px;
}

